<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932590572699-absucr1csvhf2qf18ef5con8slahhgmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932590572699-absucr1csvhf2qf18ef5con8slahhgmh</string>
	<key>API_KEY</key>
	<string>AIzaSyCbwuTTnfHkYTVqFJpJAk8xMXnsOqyYuGE</string>
	<key>GCM_SENDER_ID</key>
	<string>932590572699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TomF.BoxScore</string>
	<key>PROJECT_ID</key>
	<string>boxscore-9ac2b</string>
	<key>STORAGE_BUCKET</key>
	<string>boxscore-9ac2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932590572699:ios:323438655964591d3ce23e</string>
</dict>
</plist>